SECRET_KEY=dev-secret-key
JWT_SECRET_KEY=dev-jwt-secret-key-1234567890abcdef
SQLALCHEMY_DATABASE_URI=sqlite:///visishop.db
WTF_CSRF_ENABLED=false
GOOGLE_CLIENT_ID=tu-google-client-id.apps.googleusercontent.com
